<!DOCTYPE html>
<html>

<head>
  <title>SensortagAi</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/echarts.js"></script>

</head>

<body style="margin: 0;padding: 0;background-color: #f9f9f9;">
  <div style="width: 100%;height: 45px;background-color:#ffffff;padding-top: 25px;padding-left: 15px;box-shadow:2px 2px 3px #f1e9e9;"> 
    <div style="margin: 0; font-size: 1.15rem; font-weight: bolder; font-family: 'Lato', Helvetica, sans-serif;">
      S E N S O R T A G   A I  |  TUL
    </div>
    <div style="text-align: right;margin-top: -33px;margin-right: 40px;">
      <img src="/javascripts/logo.jpeg" width=150px >
    </div>
  </div>
  <br><br>
  <div id="microphone" style="width: 100%;height:200px;"></div>
  <div id="acceleration" style="width: 100%;height:200px;"></div>
  <script src="/javascripts/index.js"></script>
  <br><br>
  <div style="text-align: center;">
    <div style="width: 200px;height: 70px;margin: auto; border-radius: 8px;border:3px solid #000;">
      <p style="margin-top: 17px; font-size: 1.5rem; font-weight: bolder; font-family: 'Lato', Helvetica, sans-serif;">
        No Event
      </p> 
    </div>
  </div>
  <div  style="width: 100%;text-align: center;position: fixed;bottom: 0px;padding-bottom: 10px;">
    <div style="color:#808080;margin: 0; font-size: 1rem; font-weight: bolder; font-family: 'Lato', Helvetica, sans-serif;">
      @2020 TUL <br> Technical Support&nbsp;&nbsp; Bohao Chu & Ao Sun
    </div>
  </div>
</body>

</html>
